<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>To-Do App</title>
    <link rel="stylesheet" href="css/styles.css" />
  </head>
  <body>
    <div id="app">
      <article class="wrap">
        <!-- ToDo入力フォーム -->
        <section class="todo-form">
          <input
            type="text"
            v-model="newTodo"
            class="input-text"
            placeholder="please input todo"
          />
          <button @click="addTodo" class="add-button">ADD TODO</button>
        </section>

        <!-- ToDoリスト表示エリア -->
        <div class="list-area">
          <!-- 未完了のToDoリスト -->
          <div class="area-incomplete">
            <p class="todo-title">incomplete items</p>
            <ul class="todo-area">
              <li v-for="(item, i) in incompleteTodo" :key="i" class="list">
                <span class="list-label">{{ item.text }}</span>
                <div>
                  <button
                    class="list-button button-done"
                    @click="toggleIsDone(item.id)"
                  >
                    DONE
                  </button>
                  <button
                    class="list-button button-delete"
                    @click="deleteTodo(item.id)"
                  >
                    DELETE
                  </button>
                </div>
              </li>
            </ul>
          </div>

          <!-- 完了したToDoリスト -->
          <div class="area-complete">
            <p class="todo-title">complete items</p>
            <ul class="todo-area">
              <li v-for="(item, i) in doneTodo" :key="i" class="list">
                <span class="list-label">{{ item.text }}</span>
                <div>
                  <button
                    class="list-button"
                    @click="toggleIsDone(item.id)"
                  >
                    RETURN
                  </button>
                  <button
                    class="list-button button-delete"
                    @click="deleteTodo(item.id)"
                  >
                    DELETE
                  </button>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </article>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="script/script.js"></script>
  </body>
</html>
